

/* only for updated code */
/*
.textButton-container {
  margin-top: var(--margin-3xl);
  color: var(--gray70);
}

.textButton-container a {
  display: block;
  margin-top: var(--margin-xl);
  margin-bottom: var(--margin-xl);
}
.textButton-container p {
  margin-top: var(--margin-xl);
  margin-bottom: var(--margin-xl);
  padding-left: 0;
}

.textButton-container a:hover {
  color: var(--colorb);
 
  cursor: pointer;
}


a p{
  background: linear-gradient(currentColor 0 0) 
    bottom left/
    var(--underline-width, 0%) 0.1em
    no-repeat;
 
  padding: 0 .5em 0.2em;
  text-decoration: none;
  transition: background-size 0.5s;
}

a:hover p{
  --underline-width: 100%;
} */
