@import "tailwindcss";

/* ... */
@theme {
  --color-primary: #cfcbc7;
  --color-secondary: #c8b468;
  --color-bgcolor: #F5EFE9;
}

:root {

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* spacing */
  font-size: 12px;
  --margin-xxs: .25rem;
  --margin-xs: .5rem;
  --margin-s: .75rem;
  --margin-m: 1rem;
  --margin-l: 1.25rem;
  --margin-xl: 1.75rem;
  --margin-2xl: 2.5rem;
  --margin-3xl: 3.75rem;
  --margin-4xl: 6.25rem;
  --margin-5xl: 10rem;
  --margin-6xl: 15rem;

/* colors */
--gray10: hsl(0, 0%, 10%);
--gray30: hsl(0, 0%, 30%);
--gray50: hsl(0, 0%, 50%);
--gray70: hsl(0, 0%, 70%);
--gray90: hsl(0, 0%, 90%);
--colora: #cfcbc7;
--colorb: #c8b468;
--bgcolor: #F5EFE9;
color: var(--gray10);

/* landing page */
--ff: gotham-light, arial, helvetica, sans-serif;
--h1: bold 4rem/1em var(--ff);
--h2: bold 3rem/1.2em var(--ff);
--h3: bold 2.25rem/1.2em var(--ff);
--h4: bold 1.5rem/1.6em var(--ff);
--big: 1.25rem/1.6em var(--ff);
--p: 1rem/1.6em var(--ff);
--small: 0.75rem/2em var(--ff);

/* UIs */
--h1ui: bold 3rem/1.2em var(--ff);
--h2ui: bold 2.25rem/1.2em var(--ff);
--h3ui: bold 1.5rem/1.2em var(--ff);
--h4ui: bold 1.12rem/1.6em var(--ff);
--bigui: 1rem/1.6em var(--ff);
--pui: 0.8rem/1.6em var(--ff);
--smallui: 0.75rem/1.8em var(--ff);
}

body {
  font-family: var(--ff);
  background-color: var(--bgcolor);
  
}

/* landing page */
h1 {font: var(--h1);}
h2 {font: var(--h2);}
h3 {font: var(--h3);}
h4 {font: var(--h4);}
.big {font: var(--big);}
p {font: var(--p);}
.small {font: var(--small);}

/* UIs */
.ui h1{font: var(--h1ui);}
.ui h2{font: var(--h2ui);}
.ui h3{font: var(--h3ui);}
.ui h4{font: var(--h4ui);}
.ui .big{font: var(--bigui);}
.ui p{font: var(--pui);}
.ui .small{font: var(--smallui);}

h1,h2,h3,h4,.big {
  margin: 0; margin-top: 2rem;}
.ui{margin-top: 4rem;}
p,.small {
  margin: 0; margin-top: 1rem;}

